<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <com.cloudbees.jenkins.plugins.customtools.CustomToolInstallWrapper plugin="custom-tools-plugin@0.3">
      <selectedTools/>
      <multiconfigOptions>
        <skipMasterInstallation>false</skipMasterInstallation>
      </multiconfigOptions>
      <convertHomesToUppercase>false</convertHomesToUppercase>
    </com.cloudbees.jenkins.plugins.customtools.CustomToolInstallWrapper>
    <hudson.plugins.android__emulator.AndroidEmulator plugin="android-emulator@2.10">
      <osVersion>4.3</osVersion>
      <screenDensity>mdpi</screenDensity>
      <screenResolution>WVGA</screenResolution>
      <deviceLocale>sv_SE</deviceLocale>
      <hardwareProperties/>
      <wipeData>false</wipeData>
      <showWindow>true</showWindow>
      <useSnapshots>true</useSnapshots>
      <deleteAfterBuild>false</deleteAfterBuild>
      <startupDelay>0</startupDelay>
      <commandLineOptions></commandLineOptions>
      <executable></executable>
    </hudson.plugins.android__emulator.AndroidEmulator>
  </buildWrappers>
</project>