<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector">
    <hudson.tasks.Ant>
      <targets>-f Packaging/build.xml</targets>
      <antName>ant1.6.5</antName>
    </hudson.tasks.Ant>
  </builders>
  <publishers class="vector">
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/build/*.ear,trunk/build/scripts/*,trunk/build/setup/**,trunk/build/*.jar,trunk/build/docs/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>trunk/Tests/testng-output/**/*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emma.EmmaPublisher>
      <includes>trunk/Tests/coverage-report/coverage.xml</includes>
    </hudson.plugins.emma.EmmaPublisher>
    <hudson.plugins.jira.JiraIssueUpdater/>
    <hudson.tasks.Mailer>
      <recipients>CoreDevelopment@staff.certipost.be</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM-ModuleLocation>
        <remote>http://bravo/svn/core/CertiONE-2.0/ApplicationsServer/eArchive/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://bravo.office.certipost.be/viewcvs.cgi/</url>
    </browser>
  </scm>
  <assignedNode>cludev01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <jdk>jdk1.5</jdk>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>30 3 * * 1-6</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <logRotator>
    <daysToKeep>5</daysToKeep>
    <numToKeep>10</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty>
      <siteName>http://jira.certipost.be/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
  </properties>
  <description>CertiOne2 EArchive </description>
  <actions class="vector"/>
</project>