    <jenkins.plugins.openstack.compute.JCloudsCloud plugin="openstack-cloud@1.7">
      <name>openstack-plugin</name>
      <identity>USER:TENANT</identity>
      <credential>CREDENTIAL</credential>
      <endPointUrl>ENDPOINT</endPointUrl>
      <profile>openstack-plugin</profile>
      <retentionTime>30</retentionTime>
      <instanceCap>10</instanceCap>
      <templates>
        <jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
          <name>os-test</name>
          <imageId>RDU2/ac98e93d-34a3-437d-a7ba-9ad24c02f5b2</imageId>
          <hardwareId>RDU2/16</hardwareId>
          <labelString>rhel</labelString>
          <userDataId></userDataId>
          <numExecutors>1</numExecutors>
          <stopOnTerminate>false</stopOnTerminate>
          <fsRoot>/jenkins</fsRoot>
          <installPrivateKey>false</installPrivateKey>
          <overrideRetentionTime>0</overrideRetentionTime>
          <keyPairName>master-key</keyPairName>
          <networkId></networkId>
          <securityGroups>default</securityGroups>
          <credentialsId>CREDENTIAL</credentialsId>
          <slaveType>SSH</slaveType>
          <availabilityZone></availabilityZone>
        </jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
      </templates>
      <scriptTimeout>600000</scriptTimeout>
      <startTimeout>600000</startTimeout>
    </jenkins.plugins.openstack.compute.JCloudsCloud>
