<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Daily synchronization of SVN and MKS repositories.</description>
  <displayName>MKS-SVN: MKS-SVN-Sync-Daily-Flowstream</displayName>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>60</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>Resync_MKS_Sandbox</name>
          <description>Re-populate the respective MKS sandbox before starting the sync (update the local files to the most recent version)</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Cleanup_MKS_Sandbox</name>
          <description>Clean up the MKS sandbox. All files except project.pj will be removed from the local sandbox before resyncing it to the latest version.

Use this option if you suspect that the sandbox&apos;s image is different from what can be found the MKS repository. The option may considerably increase the time required for SVN-MKS sync, especially the check-ins.

Be aware that MKS may ignore a check-in command for files that differ only in end-of-lines, especially if such files were checked in into SVN from a Windows workstation. Such files may appear in the diff list every time you do a full cleanup and resync.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Update_SVN_Directory</name>
          <description>Update the SVN working directory to the most recent revision before starting the sync</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Cleanup_SVN_Directory</name>
          <description>Checkout a fresh copy of SVN directory. May take long to perform.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Compare_SVN_and_MKS_trees</name>
          <description>Generate a diff file which will contain a set of commands to synchronize the MKS sandbox with the SVN working directory</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Synchronize_and_Check_In</name>
          <description>Update the MKS sandbox as per the generated diff file and check the updates into MKS repository. If you uncheck this option, then nothing will be committed to MKS repository. Use this option if you would like to see the list of differences between SVN and MKS without actually carrying them over.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@1.50">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://server/Flowstream</remote>
        <local>./trunk</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.plugins.polarion.PolarionRepositoryBrowser" plugin="polarion@1.3">
      <url>http://server/svnwebclient/</url>
      <location>mks</location>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/svn/run-mks-svn-project.sh &quot;$WORKSPACE&quot; &quot;Flowstream&quot; $Revision &quot;$Label&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.log</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.32">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>user@server.com</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>user@server.com</recipientList>
            <subject>${PROJECT_DISPLAY_NAME}: ${BUILD_STATUS}</subject>
            <body>SVN revision: ${SVN_REVISION}
Details: ${BUILD_URL}


</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern>Flowstream.log</attachmentsPattern>
            <attachBuildLog>true</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList>user@server.com</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>${PROJECT_DISPLAY_NAME}: Completed - ${BUILD_STATUS}</defaultSubject>
      <defaultContent>SVN revision: ${SVN_REVISION}
Details: ${BUILD_URL}changes
Status: $(BUILD_STATUS}

${CHANGES_SINCE_LAST_SUCCESS,  reverse=true, format=&quot;Build #%n\n%c\n&quot;, changesFormat=&quot;\nRev %r by %a: %m %p&quot;, pathFormat=&quot;\t%p\n&quot;}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>true</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>