<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Test to verify whether the UC_helper_detectFileType scriptlet works</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.32">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TEST_FILENAME</name>
          <description>A file name with extension so that we can determine its type: like annoMetaEmb.csv</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.5.6">
          <name/>
          <description>We should display type here</description>
          <randomName>choice-parameter-27269316662200</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.ScriptlerScript">
            <scriptlerScriptId>UC_helper_detectFileType.groovy</scriptlerScriptId>
            <parameters class="linked-hash-map">
              <entry>
                <string>vMyFile</string>
                <string>$TEST_FILENAME</string>
              </entry>
            </parameters>
          </script>
          <projectName>TEST__FILECONTENT</projectName>
          <projectFullName>TEST__FILECONTENT</projectFullName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>TEST_FILENAME</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>