<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <!-- users deleted for security reasons -->
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
  </securityRealm>
  <systemMessage>&lt;h1&gt;Build Server&lt;/h1&gt;&#xd;
&#xd;
&lt;p&gt;The Build Server is powered by &lt;a href=&quot;http://hudson.gotdns.com/wiki/display/HUDSON/Home&quot;&gt;Hudson&lt;/a&gt;, a continuous integration tool written in Java. Hudson integrates with various version control systems such as CVS, Subversion and Git and is able to execute a variety of project builders including Apache Ant, Maven, Groovy and shell scripts. In addition to it&apos;s core features Hudson provides an extensive collection of &lt;a href=&quot;http://hudson.gotdns.com/wiki/display/HUDSON/Plugins&quot;&gt;plugins&lt;/a&gt; to extend its functionality. For more details on CI, take a look at Martin Fowler&apos;s &lt;a href=&quot;http://www.martinfowler.com/articles/continuousIntegration.html&quot;&gt;paper&lt;/a&gt; on the subject.&lt;/p&gt;&#xd;
</systemMessage>
  <jdks>
    <jdk>
      <name>Sun JDK 1.5.0.15</name>
      <javaHome>/usr/lib/jvm/java-1.5.0-sun-1.5.0.15</javaHome>
    </jdk>
  </jdks>
  <clouds/>
  <slaves/>
  <quietPeriod>60</quietPeriod>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
</hudson>