<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>Job</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Update:user1</permission>
      <permission>hudson.model.Run.Update:user2</permission>
      <permission>hudson.model.Item.Read:user1</permission>
      <permission>hudson.model.Item.Read:user2</permission>
      <permission>hudson.model.Item.Build:user1</permission>
      <permission>hudson.model.Item.Build:user2</permission>
      <permission>hudson.model.Item.Cancel:user1</permission>
      <permission>hudson.model.Item.Cancel:user2</permission>
      <permission>hudson.model.Run.Delete:user1</permission>
      <permission>hudson.model.Run.Delete:user2</permission>
      <permission>hudson.model.Item.Discover:user1</permission>
      <permission>hudson.model.Item.Discover:user2</permission>
      <permission>hudson.model.Item.Workspace:user1</permission>
      <permission>hudson.model.Item.Workspace:user2</permission>
      <permission>hudson.scm.SCM.Tag:user1</permission>
      <permission>hudson.scm.SCM.Tag:user2</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.CVSSCM">
    <flatten>true</flatten>
    <repositoryBrowser class="hudson.scm.browsers.ViewCVS">
      <url>http://cvs/viewvc/cvs/</url>
    </repositoryBrowser>
    <repositories>
      <hudson.scm.CvsRepository>
        <cvsRoot>:ext:jenkins@cvs.company.com:/cvs</cvsRoot>
        <repositoryItems>
          <hudson.scm.CvsRepositoryItem>
            <modules>
              <hudson.scm.CvsModule>
                <localName></localName>
                <remoteName>repository</remoteName>
              </hudson.scm.CvsModule>
            </modules>
            <location class="hudson.scm.CvsRepositoryLocation$HeadRepositoryLocation">
              <locationType>HEAD</locationType>
              <useHeadIfNotFound>false</useHeadIfNotFound>
            </location>
          </hudson.scm.CvsRepositoryItem>
        </repositoryItems>
        <compressionLevel>-1</compressionLevel>
        <excludedRegions>
          <hudson.scm.ExcludedRegion>
            <pattern></pattern>
          </hudson.scm.ExcludedRegion>
        </excludedRegions>
        <passwordRequired>false</passwordRequired>
      </hudson.scm.CvsRepository>
    </repositories>
    <canUseUpdate>false</canUseUpdate>
    <skipChangeLog>false</skipChangeLog>
    <pruneEmptyDirectories>true</pruneEmptyDirectories>
    <disableCvsQuiet>false</disableCvsQuiet>
    <cleanOnFailedUpdate>false</cleanOnFailedUpdate>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>@hourly</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.LabelAxis>
      <name>COMPILER</name>
      <values>
        <string>gcc-4.5.1</string>
      </values>
    </hudson.matrix.LabelAxis>
    <hudson.matrix.LabelAxis>
      <name>OS</name>
      <values>
        <string>linux.rh.4</string>
        <string>linux.rh.5</string>
        <string>linux.rh.6</string>
        <string>solaris.10</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1339367687827</buildStepId>
      <buildStepArgs>
        <string>-t alltests</string>
      </buildStepArgs>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
  </builders>
  <publishers/>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>
