    <slave>
      <name>Wolfram</name>
      <description>Wolfram</description>
      <remoteFS>/var/lib/jenkins</remoteFS>
      <numExecutors>4</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.0">
        <host>wolfram.picsauditing.com</host>
        <port>22</port>
        <credentialsId>3d17611b-d229-44df-ab2a-67313aa98acb</credentialsId>
      </launcher>
      <label>Dev</label>
      <nodeProperties/>
      <userId>Jared Griffith (jgriffith)</userId>
    </slave>
