<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
  </pluginGroups>

  <proxies>
      <proxy>
      <active>false</active>
      <protocol>http</protocol>
      <host>web1.drvbsh.rzn.drv</host>
      <port>8081</port>
      <username>username</username>
      <password>password</password>
      </proxy>
  </proxies>

  <servers>
  </servers>

<localRepository>/srv/mavenrepo</localRepository>

  <mirrors>
   <mirror>
        <id>nexus-rzn</id>
        <mirrorOf>*</mirrorOf>
        <url>http://s6704094.drvbsh.rzn.drv:8081/nexus/content/groups/public</url>
        </mirror>
        <mirror>
        <id>nexus-wuerzburg</id>
        <mirrorOf></mirrorOf>
        <url>http://maven.drv.drv/mrm/content/groups/public</url>
        </mirror>
  </mirrors>

  <profiles>
  </profiles>

  <activeProfiles>
  </activeProfiles>
</settings>

