   <jenkins.plugins.rocketchatnotifier.RocketChatNotifier plugin="rocketchatnotifier@1.4.5">
      <rocketServerUrl></rocketServerUrl>
      <trustSSL>false</trustSSL>
      <channel></channel>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeTestLog>false</includeTestLog>
      <includeCustomMessage>false</includeCustomMessage>
      <rawMessage>false</rawMessage>
      <webhookToken></webhookToken>
      <webhookTokenCredentialId></webhookTokenCredentialId>
    </jenkins.plugins.rocketchatnotifier.RocketChatNotifier>
