<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.clearcase.ClearCaseUcmSCM">
    <viewName>guojuns_flex_tools_oam5.0</viewName>
    <mkviewOptionalParam></mkviewOptionalParam>
    <filteringOutDestroySubBranchEvent>false</filteringOutDestroySubBranchEvent>
    <useUpdate>true</useUpdate>
    <removeViewOnRename>true</removeViewOnRename>
    <excludedRegions></excludedRegions>
    <loadRules>/ioam_tools/FLEX_TOOLS</loadRules>
    <useDynamicView>true</useDynamicView>
    <viewDrive>/view</viewDrive>
    <multiSitePollBuffer>0</multiSitePollBuffer>
    <createDynView>false</createDynView>
    <winDynStorageDir>\\zsupsx86\views\dynamic</winDynStorageDir>
    <unixDynStorageDir></unixDynStorageDir>
    <freezeCode>false</freezeCode>
    <recreateView>false</recreateView>
    <viewPath>guojuns_flex_tools_oam5.0</viewPath>
    <stream>guojuns_flex_tools_oam5.0@/ioam_core_pvob</stream>
    <overrideBranchName></overrideBranchName>
    <allocateViewName>false</allocateViewName>
    <useManualLoadRules>true</useManualLoadRules>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command></command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>