<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.46</version>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="com.michelin.cio.hudson.plugins.rolestrategy.RoleBasedAuthorizationStrategy">
    <roleMap type="globalRoles">
      <role name="DEV-R" pattern=".*">
        <permissions>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Workspace</permission>
        </permissions>
        <assignedSIDs/>
      </role>
      <role name="DEV-RW" pattern=".*">
        <permissions>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>jenkins.metrics.api.Metrics.View</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Workspace</permission>
        </permissions>
        <assignedSIDs>
          <sid>rbaddeko</sid>
        </assignedSIDs>
      </role>
      <role name="admin" pattern=".*">
        <permissions>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>jenkins.metrics.api.Metrics.View</permission>
          <permission>hudson.model.View.Delete</permission>
          <permission>hudson.model.Computer.Disconnect</permission>
          <permission>hudson.model.Computer.Configure</permission>
          <permission>hudson.model.Run.Replay</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>hudson.model.View.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>hudson.model.Computer.Provision</permission>
          <permission>hudson.model.Computer.Connect</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.model.View.Configure</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>jenkins.metrics.api.Metrics.ThreadDump</permission>
          <permission>hudson.model.Hudson.Administer</permission>
          <permission>hudson.model.Computer.Delete</permission>
          <permission>jenkins.metrics.api.Metrics.HealthCheck</permission>
          <permission>hudson.model.Computer.Create</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Nodes</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs>
          <sid>halkaf</sid>
        </assignedSIDs>
      </role>
    </roleMap>
    <roleMap type="slaveRoles"/>
    <roleMap type="projectRoles">
      <role name="customer-services" pattern="customer-services">
        <permissions>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Workspace</permission>
        </permissions>
        <assignedSIDs>
          <sid>rbaddeko</sid>
        </assignedSIDs>
      </role>
    </roleMap>
  </authorizationStrategy>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm" plugin="active-directory@2.4">
    <domains>
      <hudson.plugins.active__directory.ActiveDirectoryDomain>
        <name>corp.local</name>
        <bindPassword>{AQAAABAAAABAxh5AbKZ8m4OJ59Gee1RzrdKzLAxK9fR/6WXn/aU910fQ8aOKDziSqBUlmzTTaFpDkRfnzz5+ZVSnI5WezoDfMDir9Waq+C1HdLPvWPJvd3c=}</bindPassword>
      </hudson.plugins.active__directory.ActiveDirectoryDomain>
    </domains>
    <startTls>true</startTls>
    <groupLookupStrategy>AUTO</groupLookupStrategy>
    <removeIrrelevantGroups>false</removeIrrelevantGroups>
    <tlsConfiguration>TRUST_ALL_CERTIFICATES</tlsConfiguration>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>Java</name>
      <home>/var/lib/jenkins/jdk1.8.0_131</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>build.corp.local Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>BPMURLGenerationAdapter</string>
        <string>customer-services</string>
        <string>customer-services-dto</string>
        <string>customer-services-ear</string>
        <string>doors-gulpbuild</string>
        <string>doors_gulpbuild</string>
        <string>eFolderSoap</string>
        <string>ExternalAPIServices-FrequentBuild</string>
        <string>ExternalAPIServicesCreateUpdateLeadDTO-FrequentBuilds</string>
        <string>ExternalAPIServicesCreditDTO-FrequentBuild</string>
        <string>ExternalAPIServicesCreditMismo34DTO-FrequentBuild</string>
        <string>ExternalAPIServicesDocumentDeliveryDTO-FrequentBuild</string>
        <string>ExternalAPIServicesEAR</string>
        <string>ExternalAPIServicesFeesDTO-FrequentBuild</string>
        <string>ExternalAPIServicesFeesStateQuestionsOfficesDTO-FrequentBuild</string>
        <string>ExternalAPIServicesLeadDTO-FrequentBuild</string>
        <string>ExternalAPIServicesLoanDTO-FrequentBuild</string>
        <string>ExternalAPIServicesLOAssignmentDTO-FrequentBuild</string>
        <string>ExternalAPIServicesLockDTO-FrequentBuilds</string>
        <string>ExternalAPIServicesMarketingDTO-FrequentBuild</string>
        <string>ExternalAPIServicesMindboxDTO-FrequentBuild</string>
        <string>ExternalAPIServicesPingDTO-FrequentBuild</string>
        <string>ExternalAPIServicesPricingDTO-FrequentBuild</string>
        <string>ExternalAPIServicesProductDTO-FrequentBuild</string>
        <string>ExternalAPIServicesPropertyDTO-FrequentBuild</string>
        <string>ExternalAPIServicesPropertyTitleDTO-FrequentBuild</string>
        <string>ExternalAPIServicesServicingDTO-FrequentBuild</string>
        <string>ExternalAPIServicesTitleDTO-FrequentlBuild</string>
        <string>ExternalAPIServicesUploadDTO-FrequentBuild</string>
        <string>install-doors-app</string>
        <string>irwin-commons-core</string>
        <string>JointScreenUWAPIServices</string>
        <string>JointScreenUWAPIServicesEAR</string>
        <string>L_DocServer</string>
        <string>L_Server</string>
        <string>LakewoodSoapWeb</string>
        <string>newcaps-feed-ear</string>
        <string>newcaps-feed-preprocessor</string>
        <string>newcaps-feed-web</string>
        <string>S3EDMSDocumentGateway_TEST</string>
        <string>S_CreditDirect</string>
        <string>servicing-web-ear</string>
        <string>servicing-web-war</string>
        <string>ServicingORM</string>
        <string>ValidateCheck</string>
        <string>xsl-utilities</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>RET Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>RET_DEV_AppraisalProcess</string>
        <string>RET_DEV_AutomatedLPAllocation</string>
        <string>RET_DEV_BS_CommentAdapter</string>
        <string>RET_DEV_BS_LoanStatusAdapter</string>
        <string>RET_DEV_BS_LoanStatusAdapter_V1</string>
        <string>RET_DEV_BS_LoanStatusAdapter_V2</string>
        <string>RET_DEV_BS_SetContactAdapter</string>
        <string>RET_DEV_BS_TrackingItemAdapter</string>
        <string>RET_DEV_ComplaintTrackerCR</string>
        <string>RET_DEV_ControlProcCommonResource</string>
        <string>RET_DEV_EDMS_ExceptionHandler_BL</string>
        <string>RET_DEV_FMExtLibCommonResource</string>
        <string>RET_DEV_FMSharedCommonResource</string>
        <string>RET_DEV_FMSharedUtilityCommonResource</string>
        <string>RET_DEV_Generic_Update_DS_Schedular</string>
        <string>RET_DEV_InitialCreditReview</string>
        <string>RET_DEV_RealECAppraisalFlows</string>
        <string>RET_DEV_RET_Closing_CommonResource</string>
        <string>RET_DEV_RET_Closing_Process</string>
        <string>RET_DEV_RET_Closing_TRID_Process</string>
        <string>RET_DEV_RET_Manual_Title_Process</string>
        <string>RET_DEV_RET_RealEC_ClosingDocs</string>
        <string>RET_DEV_RET_RealEC_ClosingDocs_TRID</string>
        <string>RET_DEV_RET_Title_Process_BL</string>
        <string>RET_DEV_RET_Title_Process_V2_BL</string>
        <string>RET_DEV_RET_Title_Process_V2_BS</string>
        <string>RET_DEV_RET_TitleReview</string>
        <string>RET_DEV_RET_TitleV3ProcessCommon</string>
        <string>RET_DEV_RETTitleProcessCommon</string>
        <string>RET_DEV_SupportCenterAssignmentCR</string>
        <string>RET_DEV_SupportCenterAssignmentProcess</string>
        <string>RET_DEV_TRID_COC</string>
        <string>RET_DEV_UnderwritingCommon</string>
        <string>RET_DEV_UnderwritingProcess</string>
        <string>RET_ProcessLauncher</string>
        <string>RET_ProcessLauncher_DEV</string>
        <string>RET_ProcessLauncher_TEST</string>
        <string>RET_ProcessLauncher_UAT</string>
        <string>RET_TEST_AppraisalProcess</string>
        <string>RET_TEST_BS_CommentAdapter</string>
        <string>RET_TEST_BS_LoanStatusAdapter</string>
        <string>RET_TEST_BS_LoanStatusAdapter_V1</string>
        <string>RET_TEST_BS_LoanStatusAdapter_V2</string>
        <string>RET_TEST_BS_SetContactAdapter</string>
        <string>RET_TEST_BS_TrackingItemAdapter</string>
        <string>RET_TEST_ControlProcCommonResource</string>
        <string>RET_TEST_EDMS_ExceptionHandler_BL</string>
        <string>RET_TEST_FMExtLibCommonResource</string>
        <string>RET_TEST_FMSharedCommonResource</string>
        <string>RET_TEST_FMSharedUtilityCommonResource</string>
        <string>RET_TEST_InitialCreditReview</string>
        <string>RET_TEST_RealECAppraisalFlows</string>
        <string>RET_TEST_RET_Closing_CommonResource</string>
        <string>RET_TEST_RET_Closing_Process</string>
        <string>RET_TEST_RET_Closing_TRID_Process</string>
        <string>RET_TEST_RET_Manual_Title_Process</string>
        <string>RET_TEST_RET_RealEC_ClosingDocs</string>
        <string>RET_TEST_RET_RealEC_ClosingDocs_TRID</string>
        <string>RET_TEST_RET_Title_Process_BL</string>
        <string>RET_TEST_RET_Title_Process_V2_BL</string>
        <string>RET_TEST_RET_Title_Process_V2_BS</string>
        <string>RET_TEST_RET_TitleReview</string>
        <string>RET_TEST_RETTitleProcessCommon</string>
        <string>RET_TEST_SupportCenterAssignmentCR</string>
        <string>RET_TEST_SupportCenterAssignmentProcess</string>
        <string>RET_TEST_UnderwritingCommon</string>
        <string>RET_TEST_UnderwritingProcess</string>
        <string>RET_UAT_AppraisalProcess</string>
        <string>RET_UAT_BS_CommentAdapter</string>
        <string>RET_UAT_BS_LoanStatusAdapter</string>
        <string>RET_UAT_BS_LoanStatusAdapter_V1</string>
        <string>RET_UAT_BS_LoanStatusAdapter_V2</string>
        <string>RET_UAT_BS_SetContactAdapter</string>
        <string>RET_UAT_BS_TrackingItemAdapter</string>
        <string>RET_UAT_ControlProcCommonResource</string>
        <string>RET_UAT_EDMS_ExceptionHandler_BL</string>
        <string>RET_UAT_FMExtLibCommonResource</string>
        <string>RET_UAT_FMSharedCommonResource</string>
        <string>RET_UAT_FMSharedUtilityCommonResource</string>
        <string>RET_UAT_InitialCreditReview</string>
        <string>RET_UAT_RealECAppraisalFlows</string>
        <string>RET_UAT_RET_Closing_CommonResource</string>
        <string>RET_UAT_RET_Closing_Process</string>
        <string>RET_UAT_RET_Closing_TRID_Process</string>
        <string>RET_UAT_RET_Manual_Title_Process</string>
        <string>RET_UAT_RET_RealEC_ClosingDocs</string>
        <string>RET_UAT_RET_RealEC_ClosingDocs_TRID</string>
        <string>RET_UAT_RET_Title_Process_BL</string>
        <string>RET_UAT_RET_Title_Process_V2_BL</string>
        <string>RET_UAT_RET_Title_Process_V2_BS</string>
        <string>RET_UAT_RET_TitleReview</string>
        <string>RET_UAT_RETTitleProcessCommon</string>
        <string>RET_UAT_SupportCenterAssignmentCR</string>
        <string>RET_UAT_SupportCenterAssignmentProcess</string>
        <string>RET_UAT_UnderwritingCommon</string>
        <string>RET_UAT_UnderwritingProcess</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.0.4"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>SPG Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>SPG_DEV_BS_CommentAdapter</string>
        <string>SPG_DEV_BS_LoanStatusAdapter</string>
        <string>SPG_DEV_BS_LoanStatusAdapter_V1</string>
        <string>SPG_DEV_BS_LoanStatusAdapter_V2</string>
        <string>SPG_DEV_BS_SetContactAdapter</string>
        <string>SPG_DEV_BS_TrackingItemAdapter</string>
        <string>SPG_DEV_ControlProcCommonResource</string>
        <string>SPG_DEV_COR_CoIssueAudit</string>
        <string>SPG_DEV_COR_CoIssueAuditCommon</string>
        <string>SPG_DEV_COR_DealCoordinator</string>
        <string>SPG_DEV_COR_DealCoordinatorCR</string>
        <string>SPG_DEV_FMExtLibCommonResource</string>
        <string>SPG_DEV_FMSharedCommonResource</string>
        <string>SPG_DEV_FMSharedUtilityCommonResource</string>
        <string>SPG_DEV_PurchaseAuditCommon_V3</string>
        <string>SPG_DEV_PurchaseAuditV3</string>
        <string>SPG_TEST_BS_CommentAdapter</string>
        <string>SPG_TEST_BS_LoanStatusAdapter</string>
        <string>SPG_TEST_BS_LoanStatusAdapter_V1</string>
        <string>SPG_TEST_BS_LoanStatusAdapter_V2</string>
        <string>SPG_TEST_BS_SetContactAdapter</string>
        <string>SPG_TEST_BS_TrackingItemAdapter</string>
        <string>SPG_TEST_ControlProcCommonResource</string>
        <string>SPG_TEST_COR_CoIssueAudit</string>
        <string>SPG_TEST_COR_CoIssueAuditCommon</string>
        <string>SPG_TEST_COR_DealCoordinator</string>
        <string>SPG_TEST_COR_DealCoordinatorCR</string>
        <string>SPG_TEST_FMExtLibCommonResource</string>
        <string>SPG_TEST_FMSharedCommonResource</string>
        <string>SPG_TEST_FMSharedUtilityCommonResource</string>
        <string>SPG_TEST_PurchaseAuditCommon_V3</string>
        <string>SPG_TEST_PurchaseAuditV3</string>
        <string>SPG_UAT_BS_CommentAdapter</string>
        <string>SPG_UAT_BS_LoanStatusAdapter</string>
        <string>SPG_UAT_BS_LoanStatusAdapter_V1</string>
        <string>SPG_UAT_BS_LoanStatusAdapter_V2</string>
        <string>SPG_UAT_BS_SetContactAdapter</string>
        <string>SPG_UAT_BS_TrackingItemAdapter</string>
        <string>SPG_UAT_ControlProcCommonResource</string>
        <string>SPG_UAT_COR_CoIssueAudit</string>
        <string>SPG_UAT_COR_CoIssueAuditCommon</string>
        <string>SPG_UAT_COR_DealCoordinator</string>
        <string>SPG_UAT_COR_DealCoordinatorCR</string>
        <string>SPG_UAT_FMExtLibCommonResource</string>
        <string>SPG_UAT_FMSharedCommonResource</string>
        <string>SPG_UAT_FMSharedUtilityCommonResource</string>
        <string>SPG_UAT_PurchaseAuditCommon_V3</string>
        <string>SPG_UAT_PurchaseAuditV3</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.0.4"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>build2.corp.local Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>edmext-app-dev</string>
        <string>edmext-app-uat</string>
        <string>edms-dev-automation</string>
        <string>edms-services</string>
        <string>edms-services-ezil</string>
        <string>edms-services-uat</string>
        <string>edmtree</string>
        <string>ExtConversionServer</string>
        <string>extract-app</string>
        <string>hmac-security</string>
        <string>s3-doc-sync-dev</string>
        <string>s3-doc-sync-uat</string>
        <string>s3-edms-gateway</string>
        <string>S3Access</string>
        <string>s3access-service-dev</string>
        <string>S3EDMSDocumentGateway-Dev</string>
        <string>S3EDMSDocumentGatewayUAT</string>
        <string>S3EdmTomcat</string>
        <string>S3EdmTomcatAWS</string>
        <string>S3EdmTomcatUAT</string>
        <string>S3Encrypt</string>
        <string>S3Sync</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.0.4"/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>